<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 에는 연결할 인터페이스의 풀네임 (패키지명+클래스명)을 작성 -->
<mapper namespace="com.spring.database.chap03.PetMapper">

    <!-- CRUD 작성 -->

    <!-- Create -->
    <!-- id: 연결된 인터페이스의 추상메소드 이름을 정확하게 적음 -->
    <insert id="save">
        INSERT INTO tbl_pet
            (pet_name, pet_age, injection)
        VALUES
        <!-- {} 에는 매핑되는 객체의 필드명을 작성-->
            (#{petName}, #{petAge}, #{injection})
    </insert>

    <!-- UPDATE -->
    <update id="update">
        UPDATE tbl_pet
        SET pet_name = #{petName},
            pet_age = #{petAge},
            injection = #{injection}
        WHERE id = #{id}
    </update>

    <!-- DELETE -->
    <!-- boolean delete(Long id);  Long abc 이면 #{abc}로 매칭되게 작성-->
    <delete id="delete">
        DELETE FROM tbl_pet
        WHERE id = #{id}
    </delete>

    <!-- SELECT -->
    <!-- resultType: 결과 테이블을 어떤 자바 객체에 연결할건지 자바 객체의 타입을 작성 -->
    <!-- 단일 조회 -->
    <select id="findById" resultType="com.spring.database.chap03.entity.Pet">
        SELECT *
        FROM tbl_pet
        WHERE id = #{id}
    </select>

    <!-- 전체 조회 -->
    <!-- mybatis는 결과가 여러개 떨어질 경우 알아서 리스트로 반환해줌 -->
    <select id="findAll" resultType="com.spring.database.chap03.entity.Pet">
        SELECT *
        FROM tbl_pet
    </select>

    <!-- 카운트 조회 -->
    <select id="petCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_pet
    </select>


</mapper>